.navigator-form {
    flex-direction: row;
    justify-content: space-evenly;
}

.navigator-link {
    padding: 0.3em;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
}

.navigator-link:hover {
    background-color: #858585;
}

.navigator-link-selected {
    font-weight: bold;
    background-color: #565656;
    color: white;
}