.login-form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 20px;
    border: solid 1px black;
    border-radius: 4px;
    background-color: #e0e0e0;
    padding: 10px;
}

.login-form label{
    margin-top: 10px;
}

.submit-btn{
    margin-top: 20px;
    width: 100px;
    align-self: center;
}